<h1>Hello#index</h1>

<h2> <%= @name %> </h2>
<p>Find me in app/views/hello/index.html.erb</p>

<form>
<input type="text" name="name" placeholder="enter your name">
<h1> hello, <%= @name %> </h1>
<button type="submit"> Say hello your text </button>

</form>